@import url("styles.css");

/* {
    background-color: #222222;
}
*/

header {
    height: 120px;
}

h1 {
    font: 36px Helvetica;
    font-weight: bold;
}

h2 {
    font: 14px Helvetica;
    color: Tomato;
    font-weight: bold;
}

body {
    font: 10px Tahoma;
    text-align: center;
}

controls {
    padding-left: 20px;
    padding-right: 20px;
    font: 14px arial;
}

.hover {
    transition: all 0.1s ease-in-out 1s;
}

select, option {
    font: 14px arial;
    padding-left: 10px;
}

section {
    font: 12px arial;
    font-weight: bold
}

table#control {
    text-align: center;
    width: 70%;
    border: 0px;
    color: white;
    background-color: #7D9BC1;
}

table#output {
    text-align: left;
    width: 70%;
    border: 10px;
    padding: 5px;
}

table#tgt {
    border-collapse: collapse;
    text-align: center;
    border: 1px solid black;
    background-color: lightgrey;
    color: white;
}

table#tgt tr:first-child th {
    font: large arial;
    border-bottom: 4px solid lightgrey;
    background-color: lightgrey;
}

table {
  font: 12px Tahoma;
  margin-top: 5px;
}
thead {
    color: white;
    font-weight: bold;
    background-color: grey;
    text-align: center;
}


/*td { padding-left: 5px; padding-right: 5px; text-align: center; border-style: solid}*/

th, td {
    border: 1px solid black;
    width: 6%;
    padding: 0px;
    text-align: center;
    vertical-align: text-top;
}

.output {
    font: 14px Tahoma;
    text-align: left;
    width: 50%;
    border: 10px;
    color: white;
    background-color: #7D9BC1;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 5px;
}

lupdate {
    color: black;
    float: left;
    margin-left: 20%;
    padding: 10px 10px 10px 10px;
    background-color: ghostwhite;
}

assup {
    color: black;
}

assdn {
    color: aqua;
    width: 140px;
}

asssrv {
    color: black;
}


/* table#tgt tr:nth-child(even) {background-color: #eee;} */

.production {
    background-color: grey;
    font-weight: normal;
    border-bottom: 0px;
}

.productionh {
    color: grey;
    background-color: grey;
    border: 0px;
}

.development {
    background-color: lightblue;
    font-weight: bold;
}

.developmenth {
    color: lightgrey;
    background-color: lightgrey;
    border: 0px;
}

.other {
    background-color: #7D9BC1;
    font-weight: bold;
}

.otherh {
    color: #7D9BC1;
    background-color: #7D9BC1;
    border: 0px;
}

.odd {
    background-color: white
}

.even {
    background-color: lightgray
}

.picked {
    background-color: lightgoldenrodyellow
}

.assetup {
    color: black;
    background-color: lightgreen;
    border-collapse: separate!important;
    text-align: center;
}

.assetuplist {
    color: black;
    background-color: lightgreen;
    border-collapse: separate!important;
    text-align: left;
    padding: 2px;
    padding-left: 6px;
}

.assetdownlist {
    color: #a6f5ed;
    background-color: #d22121;
    text-align: left;
    padding: 2px;
    padding-left: 6px;
}

.assetup .tooltiptext {
    font: 22px arial;
    visibility: hidden;
    width: 40%;
    background-color: black;
    color: white;
    text-align: left;
    border-radius: 6px;
    padding: 20px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.assetup:hover .tooltiptext {
    visibility: visible;
}

.assetup2 {
    color: black;
    background-color: #56bf56;
    border-collapse: separate!important;
    text-align: center;
}

.assetup2 .tooltiptext {
    left: 20%;
    font: 22px arial;
    visibility: hidden;
    width: 40%;
    background-color: black;
    color: white;
    text-align: left;
    border-radius: 6px;
    padding: 20px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.assetup2:hover .tooltiptext {
    visibility: visible;
}

.assetdown {
    color: #a6f5ed;
    background-color: #d22121;
    text-align: center;
}

.assetdown .tooltiptext {
    left: 20%;
    font: 22px arial;
    visibility: hidden;
    width: 40%;
    background-color: black;
    color: white;
    text-align: left;
    border-radius: 6px;
    padding: 20px;
    transition: all 0.1s ease-in-out 0.1s;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.assetdown:hover .tooltiptext {
    visibility: visible;
    transition: all 0.1s ease-in-out 0.1s;
}

.assetdown2 {
    color: #a6f5ed;
    background-color: #993737;
    text-align: center;
}

.assetdown2 .tooltiptext {
    left: 20%;
    font: 22px arial;
    visibility: hidden;
    width: 40%;
    background-color: black;
    color: white;
    text-align: left;
    border-radius: 6px;
    padding: 20px;
    transition: all 0.1s ease-in-out 1s;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.assetdown2:hover .tooltiptext {
    visibility: visible;
    transition: all 0.1s ease-in-out 1s;
}

.assetservice .tooltiptext {
    left: 20%;
    font: 22px arial;
    visibility: hidden;
    width: 40%;
    background-color: black;
    color: white;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.assetservice:hover .tooltiptext {
    visibility: visible;
}


.assetdown1 {
    color: #a6f5ed;
    background-color: #CD5C5C;
    text-align: center;
}

.assetdown3 {
    color: #a6f5ed;
    background-color: #ffcccc;
    text-align: center;
}

.assetservice {
    color: black;
    background-color: Cornsilk;
    text-align: center;
}

.serviceduepmp .tooltiptext {
    left: 20%;
    font: 22px arial;
    visibility: hidden;
    width: 40%;
    background-color: black;
    color: white;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.serviceduepmp:hover .tooltiptext {
    visibility: visible;
}

.serviceduepmp {
    color: #a6f5ed;
    background-color: #56bf56;
    ## background-color: #993737;
    text-align: center;
}

.servicedue .tooltiptext {
    left: 20%;
    font: 22px arial;
    visibility: hidden;
    width: 40%;
    background-color: black;
    color: white;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.servicedue:hover .tooltiptext {
    visibility: visible;
}

.servicedue {
    color: black;
    background-color: orange;
    text-align: center;
}

.servicedueup .tooltiptext {
    left: 20%;
    font: 22px arial;
    visibility: hidden;
    width: 40%;
    background-color: black;
    color: white;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.servicedueup:hover .tooltiptext {
    visibility: visible;
}

.servicedueup {
    color: black;
    background-color: #56bf56;
    text-align: center;
}

.serviceduedn .tooltiptext {
    left: 20%;
    font: 22px arial;
    visibility: hidden;
    width: 40%;
    background-color: black;
    color: white;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.serviceduedn:hover .tooltiptext {
    visibility: visible;
}

.serviceduedn {
    color: #a6f5ed;
    background-color: #993737;
    text-align: center;
}

.decimal {
    text-align: right;
    padding-right: 45px
}

key {
    float: right;
    text-align: left;
    font-weight: bold;
    font-size: large;
    text-indent: 2px;
    margin: 30px;
    padding: 1px;
}

colourdue {
    background-color: lightblue
}

colourprinted {
    background-color: lightgreen
}

colourpicked {
    background-color: lightgoldenrodyellow
}
