@import url("styles.css");
/* {
    background-color: #222222;
}
*/

header {
  height: 120px;
}

h1 {
  font: 36px Helvetica;
  font-weight: bold;
}

h2 {
  font: 14px Helvetica;
  color: Tomato;
  font-weight: bold;
}

body {
  font: 10px Arial;
  text-align: center;
}

control {
  padding-left: 20px;
  padding-right: 20px;
  font: 14px;
}


select, option {
  font: 12px arial;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

section {
  font: 12px arial;
  font-weight: bold
}

table {
  font: 12px Arial;
  margin-top: 1px;
  border-collapse: collapse;
}

table#control {
  text-align: center;
  vertical-align: text-top;
  width: 75%;
  border: 0px;
  color: white;
  background-color: #7D9BC1;
}

table#output {
  text-align: left;
  vertical-align: middle;
  width: 80%;
  border: 10px;
  padding: 5px;
}

table#tgt {
  text-align: center;
  border: 1px solid black;
  color: white;
  background-color: lightblue;
}

table#tgtxx tr:first-child {
  font: 14px Arial;
  border-bottom: 1px solid black;
  background-color: grey;
}

thead tr:first-child {
  font: 12px Arial;
  border-bottom: 1px solid black;
  background-color: grey;
}


thead {
  font: 12px Arial;
  color: white;
  font-weight: bold;
  background-color: grey;
  text-align: center;
}

td {
  border: 1px solid black;
  width: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 1px;
}

.output {
  font: 14px Arial;
  text-align: left;
  width:80%;
  border: 10px;
  color: white;
  background-color: #7D9BC1;
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 5px;
}

lupdate {
  color: black;
  float: left;
  margin-left: 20%;
  padding: 10px 10px 10px 10px;
  background-color: ghostwhite;
}

assup {
  color: black;
}

assdn {
  color: aqua;
  width: 140px;
}

asssrv {
  color: black;
}


#logo {
  padding: 1px;
  border: 0px;
  margin: 3px;
}
/* table#tgt tr:nth-child(even) {background-color: #eee;} */

.buttonl {
  color: ghostwhite;
  background-color: #7D9BC1;
  padding-right: 15px;
}

.buttonr {
  color: ghostwhite;
  background-color: #7D9BC1;
  padding-left: 15px;
}
.button {
  color: ghostwhite;
  background-color: #7D9BC1;
  padding: 5px;
  font-size: 12px;
}

.buttonh {
  color: #7D9BC1;
  background-color: #7D9BC1;
  font-size: 8px;
  border: 0px;
}

.production {
  background-color: grey;
  font-weight: normal;
  border-bottom: 0px;
}

.productionh {
  color: grey;
  background-color: grey;
  border: 0px;
}

.development {
  background-color: lightblue;
  #font-weight: bold;
}

.developmenth {
  color: lightgrey;
  background-color: lightgrey;
  border: 0px;
}

.other {
  background-color: #7D9BC1;
  font-weight: bold;
}

.otherh {
  color: #7D9BC1;
  background-color: #7D9BC1;
  border: 0px;
}

.odd {
  background-color: white
}

.even {
  background-color: lightgray
}

.picked {
  background-color: lightgoldenrodyellow
}

.tooltiptext {
  font: 16px arial;
  left: 20%;
  width: 60%;
  visibility: hidden;
  background-color: black;
  color: ghostwhite;
  text-align: left;
  border-radius: 5px;
  padding: 5px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.hover {
  visibility: visible;
  transition: all 6.0s;
}

.assetup {
  color: black;
  background-color: lightgreen;
  text-align: center;
}

.assetup:hover .tooltiptext {
  visibility: visible;
}

.assetuplist {
  color: black;
  background-color: lightgreen;
  text-align: left;
  padding: 2px;
  padding-left: 6px;
  vertical-align: text-top;
}

.assetdownlist {
  color: #a6f5ed;
  background-color: #d22121;
  text-align: left;
  padding: 2px;
  padding-left: 6px;
  vertical-align: text-top;
}

.assetup2 {
  color: black;
  background-color: #56bf56;
  text-align: center;
}

.assetup2:hover .tooltiptext {
  visibility: visible;
  transition: ease-out 5.0s;
}

.assetdown {
  color: #a6f5ed;
  background-color: #d22121;
  text-align: center;
}

.assetdown:hover .tooltiptext {
  visibility: visible;
}

.assetdown2 {
  color: #a6f5ed;
  background-color: #993737;
  text-align: center;
}

.assetdown2:hover .tooltiptext {
  visibility: visible;
}

.assetdown1 {
  color: #a6f5ed;
  background-color: #CD5C5C;
  text-align: center;
}

.assetdown3 {
  color: #a6f5ed;
  background-color: #ffcccc;
  text-align: center;
}

.assetservice {
  color: black;
  background-color: Cornsilk;
  text-align: center;
}

.assetservice:hover .tooltiptext {
  visibility: visible;
}

.serviceduepmp {
  color: #a6f5ed;
  background-color: #56bf56;
  ## background-color: #993737;
  text-align: center;
}

.servicedue {
  color: black;
  background-color: orange;
  text-align: center;
}

.servicedueup {
  color: black;
  background-color: #56bf56;
  text-align: center;
}

.serviceduedn {
  color: #a6f5ed;
  background-color: #993737;
  text-align: center;
}

.decimal {
  text-align: right;
  padding-right: 45px
}

key {
  float: right;
  text-align: left;
  font-weight: bold;
  font-size: large;
  text-indent: 2px;
  margin: 30px;
  padding: 1px;
}

colourdue {
  background-color: lightblue
}

colourprinted {
  background-color: lightgreen
}

colourpicked {
  background-color: lightgoldenrodyellow
}
